.container {
  display: flex;
  flex-direction: column;

  padding: 56px 64px 56px 64px;
}

.channels {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;

  gap: 24px;

  width: 100%;

  overflow: hidden;

  margin-top: 24px;
}
