#root {
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

.app {
  width: 95vw;
  max-width: 1920px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
